.navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4rem 0;
        font-size: 1.5rem;
        list-style: none;

        .lists {
            display: flex;
            gap: 2rem;

            &--a {
                text-decoration: none;
                color: #000;
            }
        }
    }

    // Media Query
    @media only screen and (max-width: $mq-1) {
        .nav {
            flex-direction: column;
        }
    }
}