// Heading
.heading-1 {
    font-size: 2.5rem;
    font-weight: 300;
}

.heading-2 {
    font-size: 2.2rem;
    font-weight: 300;
}

.heading-3 {
    font-size: 2rem;
    font-weight: 300;
}

.heading-4 {
    font-size: 1.5rem;
    font-weight: 300;
}

// Container
.container {
    max-width: 1100px;
    padding: 0 1rem;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
}